{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/"> << Каталог книг</a></h1>
        </div>

        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
<!--                <p>Дата публикации: {{ book.pub_date}}</p>-->
                <a href="{{book.pub_date}} ">Дата публикации: {{book.pub_date}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}